# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
.idea/
.vscode/
.DS_Store
*.iml

# Android related
.gradle/
.idea/
.classpath
.project
.settings/
.externalNativeBuild/
.cxx/
local.properties
*.log
*.keystore
*.jks
*.bak
*.orig
*.rej
*.swp
*.swo
*.swn